.content {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.content pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-size: .875em;
  font-family: monospace;
}

.content code {
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-size: .875em;
  font-weight: normal;
  padding: 0.25em 0.5em;
  font-family: monospace;
}

.content pre code {
  padding: 0;
}

a {
  color: var(--primary-link-color);

  &:hover {
    text-decoration: underline;
  }
}

.content blockquote {
  border-left: var(--primary-color) 8px solid;
  margin: .5em 0 .8em 0;
  background-color: #E7F5E0;
  padding: 0 20px;
}

.in_text {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.in_text_photo {
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  margin-bottom: 1em;
  border-radius: 15px;
}