.text-center {
  text-align: center;
}

.box-shadow {
  box-shadow: 0 2px 10px 2px var(--shadow-color);
}

.div-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 1.5rem;
}