@import "_ultility.scss";
@import "_text.scss";
@import "_markdown.scss";

header {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: var(--text-font-family);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 15px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .4em;

  a {
    color: var(--primary-text-color);
  }

  img {
    max-height: 100%;
    margin-bottom: 0.5em;
  }
}

.logo {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--header-font-family);
  font-size: 1.5em;
  margin-right: 1em;
}

.nav-item {
  margin: 0 10px;
  background: var(--code-background-color);
  padding: 7px 15px;
  border-radius: 500px;

  &:hover {
    color: var(--primary-text-color-over);
    text-decoration: underline;
  }
}


body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0.6em;
}

main {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 88vh;
  background-color: var(--primary-color);

  h1 {
    border-left: 0;
  }
}

.frontpage-frame {
  background-color: var(--code-background-color);
  height: 80%;
  width: 77%;
  display: flex;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 6vh;
  text-align: justify;
  padding: 1em;
}

.frontpage-left-panel {
  width: 50%;
  height: 100%;
  justify-content: center;
}

.frontpage-left-panel-img {
  max-width: 50%;
  max-height: 65%;
}

.frontpage-left-panel-icon {
  max-width: 10%;
  min-width: 90px;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

.frontpage-right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5em;
  font-size: 20px;
  border-left: var(--primary-text-color) 2px solid;
  box-sizing: border-box;
  width: 50%;
  height: 90%;

  h3 {
    margin-bottom: 2em;
  }

  p {
    margin-top: 1.2em;
  }
}

.contact-button {
  display: inline-block;
  background: var(--primary-color);
  color: var(--primary-text-color);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 500px;
  font-size: 18px;
  cursor: pointer;
}

.frontpage-explore-more {
  cursor: pointer;
  position: absolute;
  bottom: 0.25em;
}

.grid {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}

.grid-item {
  width: 50%;
}

.toc {
    max-width: 260px;
    min-width: 240px;
}

.toc-item {
  padding: 10px 20px;
  color: #424242;
}

.toc-item a, .toc-item-child a {
  color: var(--secondary-text-color);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.toc-item a.active, .toc-item-child a.active {
  color: var(--toc-highlight-text-color);
}

.toc-item-child {
  padding: 0 30px 5px;
  color: #424242;
}

.toc-sticky {
  border-radius: 3px;
  border-top: 5px solid var(--primary-color);
  background-color: var(--toc-background-color);
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 10px;
  padding: 10px 0 20px;
  margin-top: 2em;
  max-height: 100vh;
  overflow: auto;
}

.content {
  width: 70%;
}

footer {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  background-color: var(--primary-color);

  a {
    color: var(--primary-text-color);
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-right: 0;
  }

  .content {
    padding: 0;
    width: 90%;

    .frontpage-photo {
        width: 100%;
    }

    ul {
        padding-left: 20px;
    }

    img {
      width: 20vh;
      max-height: 15vh;
    }

    p {
      margin-left: 0;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    align-items: space-between;
    text-align: center;
  }

  .nav-item {
    font-size: 1.06rem;
    width: 7.3rem;
  }

  .frontpage {
    height: auto;
    text-align: center;
  }

  .frontpage-frame {
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: auto;
    width: 90%;
    margin-top: 0;
    margin-bottom: 2em;
    overflow: auto;
  }

  .frontpage-left-panel {
    margin-bottom: 1em;
    width: 100%;
  }

  .frontpage-right-panel {
    padding: 1em;
    font-size: 20px;
    border-left: 0;
    border-top: var(--primary-text-color) 2px solid;
    width: 100%;
    height: 100%;

    h3 {
      margin: 0;
    }

    ul {
      padding-left: 0.2em;
    }
  }

  .frontpage-explore-more, .toc {
    display: none;
  }

  .grid {
    flex-direction: column;
    gap: 0;
  }

  .grid-item {
    width: 100%;
  }

  footer {
    flex-direction: column;
    gap: 0;
    padding: .5em;
  }
}