@import "_ultility.scss";
@import "_text.scss";
@import "_markdown.scss";

@font-face {
  font-family: 'Atkinson';
  font-weight: normal;
  font-style: bold;
  src: url("fonts/Atkinson-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Atkinson';
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Atkinson-BoldItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Atkinson';
  font-weight: normal;
  font-style: italic;
  src: url("fonts/Atkinson-Italic.woff2") format('woff2');
}

@font-face {
  font-family: 'Atkinson';
  font-weight: normal;
  font-style: regular;
  src: url("fonts/Atkinson-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Dancing';
  font-weight: normal;
  font-style: bold;
  src: url("fonts/DancingScript-Regular.otf") format('opentype');
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0.5rem;
}

p {
  margin: 0.6em;
}

p > img {
  width: 100%;
  height: auto;
}

header {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: var(--text-font-family);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 8%;
  display: flex;
  box-sizing: border-box;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  .logo {
    display: flex;
    height: 10vh;
    box-sizing: border-box;
    align-items: center;
  }

  a {
    color: var(--primary-text-color);
    height: 10vh;
  }

  img {
    max-height: 65%;
    margin-right: 0.8rem;
  }
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--text-font-family);
  font-weight: bold;

  &:hover {
    color: var(--primary-text-color-over);
    text-decoration: underline;
  }
}

.nav-bar {
  background-color: var(--primary-color);
}

.frontpage {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 90vh;
  background-color: var(--primary-color);
  overflow-x: hidden;

  .frontpage-img {
    max-height: 80%;
    max-width: 60%
  }

  .explore-more {
    position: absolute;
    bottom: 0.5rem;
    cursor: pointer;
  }

  .heading-text {
    padding-left: 0;
    border-left: 0;
  }

  .frontpage-icon {
    max-width: 10%;
    min-width: 100px;
    margin-left: 0.3rem;
    margin-bottom: 0.5rem;
  }
}

main {
  display: flex;
  padding: 50px 100px;
  flex-grow: 1;

  .toc {
    max-width: 260px;
    min-width: 240px;
  }

  .toc-item {
    padding: 10px 20px;
    color: #424242;
  }

  .toc-item a, .toc-item-child a {
    color: var(--secondary-text-color);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .toc-item a.active, .toc-item-child a.active {
    color: var(--toc-highlight-text-color);
  }

  .toc-item-child {
    padding: 0 30px 5px;
    color: #424242;
  }

}

.toc-sticky {
  border-radius: 3px;
  border-top: 5px solid var(--primary-color);
  background-color: var(--toc-background-color);
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 10px;
  padding: 10px 0 20px;
  max-height: 100vh;
  overflow: auto;
}

footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: #fcfcfc;

  a {
    color: #fcfcfc;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    max-width: 60%;
    min-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 15vh;
    flex-direction: column;
    justify-content: space;
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }

  .frontpage{
    height: 85vh;
    flex-direction: column;
    justify-content: space-evenly;
  }

  main {
    padding: 30px;
  }

  .content {
    padding: 0;
  }

  .explore-more, .toc {
    display: none;
  }

}
